:root
{
    --nav-name-width : 18%;
    --nav-margin : 15%;
    --nav-height : 80px;
    --nav-header-font-size : 16px;
    --nav-name-font-size : 24px;

    --divider-margin : 20px;

    --article-margin-left : 80px;
}

body
{
    margin : 0;
    background-color: #F0F0F0;
    color : #777;
    font-family: Arial, Helvetica, sans-serif;
}

a
{
    text-decoration: none;
    color : #777;
}

h1, h2, h3, h4, h5, h6{

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar
{
    border-block-end: 2px;
    border-block-end-color: #cccccc;
    border-bottom-style: solid;

    position : relative;
    height : var(--nav-height);
    background-color: white;
    top : -20px;
}

.nav-name
{
    position : relative;
    height : 100%;
    width : var(--nav-name-width);
    background-color: #4aaaa5;
    left : var(--nav-margin);
}

.p-name
{
    font-size: var(--nav-name-font-size);
    color: white;
    padding : calc(calc(var(--nav-height) - var(--nav-name-font-size)) / 2) 20%;
    margin : 0;
}

nav
{
    position : absolute;
    right : var(--nav-margin);
    top : 0;
    height : 100%;
    width : 30%;
}

.nav-header
{
    font-size: var(--nav-header-font-size);
    float : left;
    width : 33.33333%;
    padding : calc(calc(var(--nav-height) - var(--nav-name-font-size)) / 3) 0;
}

.about-section
{
    border : 2px;
    border-color : #dddddd;
    border-style : solid;

    background-color: white;
    width : 960px;
    margin : auto;
}

.about-heading
{
    margin-left : 80px;
    margin-bottom : var(--divider-margin);
    color : #4aaaa5;
}

.divider
{
    height : 2px;
    background-color: #cccccc;
    width : 80%;
    margin : auto;
}

#about-desert_img
{

    height : 150px;
    width : 150px;
    float : left;
    padding : 3px 28px 10px 0;
}

.about-article
{
    width : 80%;
    margin-left : var(--article-margin-left);
}

.about-p
{
    font-size: 18px;
}

.clearfix::after
{
    content : "";
    clear : both;
    display: none;
}

.contact-article
{
    margin-left: var(--article-margin-left);
    margin : var(--divider-margin) var(--article-margin-left);
}

.contact-subhead
{
    margin : 10px 0;
}

.contact-box
{
    font-family: Arial, Helvetica, sans-serif;
    color : #4aaaa5;

    width : 40%;
}

.contact-msg-box
{
    font-family: Arial, Helvetica, sans-serif;
    color : #4aaaa5;

    width : 60%;
    height : 100px;
}

.contact-submit
{
    font-family: Arial, Helvetica, sans-serif;
    color : #fff;
    background-color : #4aaaa5;
    border-style: none;
    width : 12%;
    height : 25px;

    margin : 20px 0;
}

.gallery
{
    margin-left: var(--article-margin-left);
    margin-top: var(--divider-margin);
}

.gallery-img
{
    width : 200px;
    height : 200px;
    position : absolute;
    bottom : 0;
    left : 0;
    z-index: 1;
    opacity: 0.5;
}

.gallery-name
{
    margin : 0;
    width : 200px;
    padding : 160px 30px 30px 30px;
    top : 0;
    position: relative;
    z-index: 5;
    background-color: yellow;
}

.footer
{
    position: fixed;
    bottom : 0;
    right : 0;
    padding: 1% 50%;
    margin : auto;
    background-color: #666666;
    color: #cccccc;

    border-top: 5px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}