:root
{
    /* VARIABLES : Here I declare variables which will be used for multiple classes */
    --nav-name-width : 18%;
    /* Above, varialbe is used for the width of the 'nav-name' class.  All variables follow this syntax */
    --nav-margin : 15%;
    --nav-height : 80px;
    --nav-header-font-size : 16px;
    --nav-name-font-size : 24px;

    --divider-margin : 20px;

    --article-margin-left : 80px;
}

body
{
    margin : 0;
    /* Above we set the margin to 0 so that the body is centered, unless overwritten */
    background-color: #F0F0F0;
    /* Above we set the background color of the body to #F0F0F0. This does NOT carry over to children of body*/
    color : #777;
    /* Above we set the color of the text in the body to #777777.  This DOES carry over to the children of body */
    font-family: 'Hepta Slab', sans-serif;
    /* Above we set the font-family of the body.  This DOES carry over to the children of body */
}

a
{
    text-decoration: none;
    /* Above we set the text decoration to none.  We do this because links, by default, are underlined.  Now there is no decoration. */
    color : #777;
    /* Above we set the text color to #777777.  Notice this is the same as the body text color.  If links had no default properties, then this code would be redundant.  However, links default to blue for their color. */
    
    border : 10px;
    border-style: solid;
    border-color: white;

}

a:hover, a:focus
{
    
    transition: ease-in 0.3s;
    
    background-color: #4aaaa5;
    border : 10px;
    border-style: solid;
    border-color: #4aaaa5;
    color : white;
}

a:active
{
    
    transition: ease-in 0.5s;

    background-color: white;
    border : 10px;
    border-style: solid;
    border-color: white;
    color : #4aaaa5;
}

h1, h2, h3, h4, h5, h6{

    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Above we set the font-family of all headers. */
}

.nav-bar
/* This is the class used for the navigation bar.  It is a class because we use it multiple times across our HTML documents. */
{
    border-block-end: 2px;
    /* Above, end means the bottom of a border.  We only want the bottom border of our nav bar to be visible, so we only set the width of the 'end' of our border. */
    border-block-end-color: #cccccc;
    /* Above, similarly, we only want to color the bottom of the border. */
    border-bottom-style: solid;
    /* Above, we style the bottom border to be solid color. Without this, we have no style and therefor our border is invisible. */

    position : relative;
    /* We set the position to relative so that children of this class element may use absolute positioning in regards to this class element */
    height : var(--nav-height);
    background-color: white;
    top : -20px;
}

.nav-name
{
    position : relative;
    height : 100%;
    width : var(--nav-name-width);
    background-color: #4aaaa5;
    left : var(--nav-margin);
}

.p-name
{
    font-size: var(--nav-name-font-size);
    color: white;
    padding : calc(calc(var(--nav-height) - var(--nav-name-font-size)) / 2) 20%;
    margin : 0;
}

nav
{
    position : absolute;
    right : var(--nav-margin);
    top : 0;
    height : 100%;
    width : 30%;
}

.nav-header
{
    font-size: var(--nav-header-font-size);
    float : left;
    width : 33.33333%;
    padding : calc(calc(var(--nav-height) - var(--nav-name-font-size)) / 3) 0;
}

.about-section
{
    border : 2px;
    border-color : #dddddd;
    border-style : solid;

    background-color: white;
    width : 960px;
    margin : auto;
}

.about-heading
{
    margin-left : 80px;
    margin-bottom : var(--divider-margin);
    color : #4aaaa5;
}

.divider
{
    height : 2px;
    background-color: #cccccc;
    width : 80%;
    margin : auto;
}

#about-desert_img
{

    height : 150px;
    width : 150px;
    float : left;
    padding : 3px 28px 10px 0;
}

.about-article
{
    width : 80%;
    margin-left : var(--article-margin-left);
}

.about-p
{
    font-size: 18px;
}

.clearfix::after
{
    content : "";
    clear : both;
    display: none;
}

.contact-article
{
    margin-left: var(--article-margin-left);
    margin : var(--divider-margin) var(--article-margin-left);
}

.contact-subhead
{
    margin : 10px 0;
}

.contact-box
{
    font-family: Arial, Helvetica, sans-serif;
    color : #4aaaa5;

    width : 40%;
}

.contact-msg-box
{
    font-family: Arial, Helvetica, sans-serif;
    color : #4aaaa5;

    width : 60%;
    height : 100px;
}

.contact-submit
{
    font-family: Arial, Helvetica, sans-serif;
    color : #fff;
    background-color : #4aaaa5;
    border-style: none;
    width : 12%;
    height : 25px;

    margin : 20px 0;
}

.gallery
{
    margin-left: var(--article-margin-left);
    margin-top: var(--divider-margin);
}

.gallery-element
{
    float : left;
    margin : 15px 30px;
}

.gallery-img
{
    width : 200px;
    height : 200px;
}

.gallery-name
{
    padding : 10px 30px;
    background-color: #4aaaa5;
    transform: translate(0, 200px);
    color : white;
}

.footer
{
    position: fixed;
    bottom : 0;
    right : 0;
    padding: 1% 50%;
    margin : auto;
    background-color: #666666;
    color: #cccccc;

    border-top: 5px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
}

.clearfix::after{

    content: "";
    clear: both;
    display: table;
}